<nav class="navbar">
  <div class="nav-container">
    <div class="name">
      <h1>HIDEOUT</h1>
      <img src="../SRC/img/Hideout-logo.png" alt="logo" class="logo" />
    </div>
    <ul class="nav-links">
      <li><a href="../index.html">Home</a></li>
      <li><a href="../about.html">About</a></li>
      <li><a href="../menu.html">Menu</a></li>
      <li><a href="../contact.html">Contact</a></li>
    </ul>
    <div class="nav-icons">
      <input type="text" placeholder="Search..." class="search-bar" />
      <i class="fas fa-search"></i>
      <i class="fas fa-user"></i>
    </div>
  </div>
</nav>
